<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<hr>
	
	<main>
	<h2 class="ttl_background6">薬の新規登録</h2>
	<form action="/medicine/add" method="post">
	<table border="1">
		<tr>
			<th>お薬名</th>
			<td>
				<input type="text" name="name" placeholder="お薬名" maxlength="20"/>
			</td>
		</tr>
		<tr>
			<th>個数</th>
			<td>
				<input type="number" name="count" placeholder="数字のみ入力してください" max="100" min="0"/>
			</td>
		</tr>
		<tr>
			<th>備考</th>
			<td>
				<input type="text" name="note" placeholder="備考 ex)1日何錠など" maxlength="500"/>
			</td>
		</tr>
		<tr>
			<th>服薬日</th>
			<td>
				<input type="date" name="date" th:value="${date}" required>
			</td>
		</tr>
		<tr>
			<th>飲んだ時間</th>
			<td>
				<select name="dtime">
					<option value="朝">朝</option>
					<option value="昼">昼</option>
					<option value="晩">晩</option>
				</select>
			</td>
		</tr>
	</table>
	<ul th:if="${errorList}" >
			<div th:each="error:${errorList}" th:text="${error}" style="color: red"></div>
		</ul>
	<button>追加</button>
	</form>
	</main>
	<hr>
		<footer th:replace="footer"></footer>
</body>
</html>