<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="~{header}"></header>
<hr>	
<main>
<h1>服薬一覧</h1>
<p>お薬の情報の更新や飲んだ記録をしたい場合は更新ボタンを押してください。<br>
注意：この画面では情報の変更はできません。</p>


<form action="/medicine/search" method="get">
	<a>お薬検索：</a>
	<input type="text" name="name" >で
	<button>検索</button>
</form>

<table border="1">
	<tr>
		<th>NO</th>
		<th>お薬名</th>
		<th>個数</th>
		<th>飲んだかどうか</th>
		<th>備考</th>
		<th>更新</th>
		<th>削除</th>
	</tr>
	<tr th:each="medicine:${medicineList}">
					<td th:text="${medicine.id}"></td>
					<td th:text="${medicine.name}"></td>
					<td th:text="${medicine.count}"></td>
					<td>
					<label class="checkbox">
					<input class="checkbox_icon" type="checkbox" name="mCheck" value="true" th:checked="${medicine.mCheck == true}"　disabled> 済
					</label>
					
					<label class="checkbox">
					<input class="checkbox_icon" type="checkbox" name="mCheck" value="false" th:checked="${medicine.mCheck == false}"　disabled> 未済
					</label>
					</td>
					
					<td th:text="${medicine.note}"></td>
					
					<form th:action="'/medicine/'+${medicine.id}+'/edit'" method="get">
					<td><button>更新</button></td>
					</form>
					
					<form th:action="'/medicine/'+${medicine.id}+'/delete'" method="post">
					<td><button>削除</button></td>
					</form>
	</tr>
</table>
<form action ="/medicine/add" method="get">
	<button>新規追加</button>
</form>
</main>
<hr>
	<footer th:replace="footer"></footer>
</body>
</html>