<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
	<h1>ログイン</h1>
	</header>
	
	<main>
	<form action ="/login" method="post">
	<input type ="text" name="name" placeholder="ユーザー名"><br>
	<input type ="text" name="password" placeholder="パスワード"><br>
	
	<ul th:if="${errorList}" >
		<div th:each="error:${errorList}" th:text="${error}" style="color: red"></div>
	</ul>
	
		<button>ログイン</button>
	</form>
	<a href="/users/add">新規登録</a>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>