<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
</head>
<body>
	
	<div class="login-page">
		  <div class="form">
		    <form class="login-form" action ="/users/add" method="post">
				<input type ="text" name="name" placeholder="お名前" maxlength="30"/><br>
				<input type ="password" name="password" placeholder="password" maxlength="500"/><br>
				<input type ="password" name="passwordconfirm" placeholder="password確認" maxlength="500"/><br>
				<ul th:if="${errorList}" >
					<div th:each="error:${errorList}" th:text="${error}" style="color: red"></div>
				</ul>
		      <button>create</button>
			  </form>
		      <p class="message">既に登録されてますか？ <a href="/login">Sign In</a></p>
		    </form>
			<script>
				$('.message a').click(function(){
					 $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
				});
			</script>
		  </div>
		</div>
</body>
</html>